[submodule "micropython"]
	path = micropython
	url = https://github.com/diybitcoinhardware/micropython.git
[submodule "usermods/usecp256k1/secp256k1"]
	path = usermods/usecp256k1/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "usermods/udisplay_f469/lvgl"]
	path = usermods/udisplay_f469/lvgl
	url = https://github.com/littlevgl/lvgl.git
