[submodule "micropython"]
	path = micropython
	url = ../../diybitcoinhardware/micropython
[submodule "usermods/udisplay_f469/lvgl"]
	path = usermods/udisplay_f469/lvgl
	url = ../../littlevgl/lvgl
[submodule "usermods/secp256k1"]
	path = usermods/secp256k1
	url = ../../diybitcoinhardware/secp256k1-embedded
